<link rel="stylesheet" media="only screen and (min-width: 800px)"  href="{{asset('bundles/app/css/team.css')}}">
<link rel="stylesheet" media="only screen and (max-width: 800px)" href="{{asset('bundles/app/css/team.mobile.css')}}">

{% block team %}
<div class="row">
    <div id="stas" class="container-fluid">
        <div class="media">
            <div class="media-left media-top">
                <div>
                    <img src="{{asset('bundles/app/imgs/stas_h400.jpg')}}" alt="Adwokat Lublin Stanisław Zdanowski" class="media-object img-rounded">
                </div>    
            </div>
            <div class="media-body figure-description">
                <h3 class="media-heading">Adwokat Stanisław Zdanowski</h3>
                <p>
                    Absolwent Wydziału Prawa i Administracji UMCS w Lublinie. 
                    Specjalizuje się w sprawach z zakresu prawa karnego. 
                    Prowadzi także sprawy cywilne odszkodowawcze, o ochronę własności i zniesienie współwłasności, 
                    rozwodowe oraz z zakresu prawa rodzinnego. Od wielu lat członek władz samorządowych Izby Adwokackiej w Lublinie. 
                    W latach 2005 -2010 rzecznik dyscyplinarny Okręgowej Rady Adwokackiej w Lublinie 
                    a w latach 2010-2016 wicedziekan  – kierownik szkolenia aplikantów 
                    adwokackich Izby Adwokackiej w Lublinie. Wieloletni wykładowca i egzaminator z zakresu prawa karnego, 
                    członek państwowych komisji egzaminacyjnych do naboru na aplikacje adwokacką 
                    i do przeprowadzania końcowych egzaminów adwokackich.
                </p>
                <p>    
                    W 2008 r. wyróżniony odznaką „Adwokatura Zasłużonym”.
                </p>
                <p class="phone">
                    <span class="glyphicon glyphicon-phone"></span>
                    tel. 602 633 160 <br>
                    tel. w Puławach 81 886 75 75

                </p>    
                <p class="phone">
                    <span class="glyphicon glyphicon-envelope"></span>
                    e-mail: stanis1@vp.pl
                </p>    
            </div>
        </div>
    </div>
</div>
<div class="row">    
    <div id="ela" class="container-fluid">
        <div class="media">
            <div class="media-left media-top">
                <div>
                    <img src="{{asset('bundles/app/imgs/stas_h400.jpg')}}" alt="Adwokat Lublin Ewa Zdanowska" class="media-object img-rounded">
                </div>    
            </div>
            <div class="media-body figure-description">
                <h3 class="media-heading">Adwokat Ewa Katarzyna Zdanowska</h3>
                <p>
                    Absolwentka Wydziału Prawa i Administracji UMCS w Lublinie. 
                    Aplikację adwokacką odbyła przy Okręgowej Radzie Adwokackiej w Lublinie. 
                    Po zdanym państwowym egzaminie adwokackim została wpisana 
                    na listę Okręgowej Rady Adwokackiej. 
                    Zawód adwokata wykonuje w indywidualnej Kancelarii Adwokackiej.
                </p>    
                <p>
                    Specjalizuje się w świadczeniu pomocy prawnej z zakresu szeroko pojętego 
                    prawa cywilnego obejmującego w szczególności sprawy rozwodowe, o alimenty, 
                    o kontakty z dziećmi, o podział majątku, jak również prawa karnego 
                    w całym jego zakresie.
                </p>
                <p class="phone">
                    <span class="glyphicon glyphicon-phone"></span>
                    tel. 506 517 167 <br>
                    tel. w Puławach 81 886 75 75
                </p>    
                <p class="phone">
                    <span class="glyphicon glyphicon-envelope"></span>
                    e-mail: ekzdanowska@adwokaci-lublin.com
                </p>    
            </div>
        </div>        
    </div>
</div>    
<div class="row">            
    <div id="ula" class="container-fluid">
        <div class="media">
            <div class="media-left media-top">
                <div>
                    <img src="{{asset('bundles/app/imgs/stas_h400.jpg')}}" alt="Adwokat Lublin Urszula Wójciki" class="media-object img-rounded">
                </div>    
            </div>
            <div class="media-body figure-description">
                <h3 class="media-heading">Adwokat Urszula Wójcik</h3>
                <p>
                    Urszula Wójcik jest adwokatem w praktyce nieruchomości i inwestycji budowlanych. 
                    Zajmuje się prawem cywilnym i administracyjnym, prawem nieruchomości o charakterze rzeczowym i zobowiązaniowym.
                    Ma wiedzę w zakresie prowadzenia postępowań sądowych i administracyjnych. 
                    Uczestniczyła w zawiązywaniu spółek oraz pełniła funkcję w organach spółek kapitałowych, w tym prezesa i członka zarządu. 
                    Brała udział w realizacji transakcji przeniesienia praw do nieruchomości, projektów budowlanych i inwestycyjnych w branży nieruchomości. 
                    Świadczy usługi w zakresie analizy prawnej nieruchomości, oraz oceny możliwości zagospodarowania nieruchomości zgodnie z prawem budowlanym i przepisami o planowaniu i zagospodarowaniu przestrzennym. 
                    Specjalizuje się w obrocie gruntami budowlanymi, przede wszystkim nieruchomościami nadmorskimi i doradztwie w zakresie eliminacji ryzyk przy ich nabywaniu. 
                    Występuje w postępowaniach sądowych i administracyjnych dotyczących zabudowy i zagospodarowania nieruchomości. 
                    Doradza w procedurach administracyjnych związanych z uchwaleniem planu miejscowego oraz uzyskaniem pozwolenia na budowę na realizacje inwestycji, 
                    przy uwzględnieniu infrastruktury technicznej i drogowej. 
                    Brała udział w sporach o ustalenie opłaty adiacenckiej i planistycznej.
                    Prowadziła sprawy o przywrócenie tytułu prawnego do nieruchomości osobom, 
                    które utraciły je w drodze wywłaszczenia.
                </p>
                <p>
                    Prowadzi kompleksowe doradztwo w zakresie prawa administracyjnego i cywilnego.
                    Ukończyła Wydział Filozofii i Socjologii, oraz Wydział Prawa i Administracji 
                    na Uniwersytecie Marii Curie-Skłodowskiej w Lublinie. 
                    Jest absolwentką Studiów Podatków i Prawa Podatkowego Wydziału Prawa i Administracji 
                    na Uniwersytecie Warszawskim. 
                    Pod kierunkiem Prof. dr hab. Witolda Modzelewskiego obroniła pracę zatytułowaną 
                    „Wewnątrzwspólnotowa dostawa i wewnątrzwspólnotowe nabycie towarów – konsekwencje podatkowe 
                    w świetle ustawy - o podatku od towarów i usług.”
                </p>
                <p>
                    Wpisana na listę Okręgowej Rady Adwokackiej w Lublinie.
                </p>
                <p class="phone">
                    <span class="glyphicon glyphicon-phone"></span>
                    tel. 695 728 882 
                </p>    
                <p class="phone">
                    <span class="glyphicon glyphicon-envelope"></span>
                    e-mail: urszulawojcik@adwokaci-lublin.com
                </p>    
            </div>
        </div>
    </div>
</div>
{% endblock %}  
